body{
    background-color:#000000;
}

.container{
    width: 300px;
    margin: 10vh auto 0 auto;
    height: px;
    background-color: #B2B2B2;
    border:2px solid #B2B2B2;
    box-shadow: #666;
    border-radius: 10px #000; 
    box-shadow: 10px #666;
    border:1px #000000

  
   
}

.buttons{
    display: grid;
    border-bottom: 1px solid #000000;
    border-left: #f7a4a4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #666;
    text-align: center;

}


#displayAnswer{
    height: 70px;  
  text-align: right;  
  background-color: black;  
  border: 3px solid white;  
  font-size: 36px;  
  left: 2px;  
  top: 2px;  
  color: red;
}
.button{
        width: 60px;  
        height: 60px;  
        margin: 3px;  
        text-align: center;
        background: #ecedef;    
        font-size: 30px;  
        line-height: 20px;  
        border-radius: 50%;    
        color: #000000;  
        cursor: pointer;
        border: #000000;

}


#equals:hover{
    background-color: #3C4048;
    color: #bbb;
    transition: 0.5s ease-in-out;
}